#header {
  width: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E90FF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #FF8333;
}

.active {
background-color:#FF8333;
}

h1 {
  float: top;
  font-size: 75px;
  margin-left: 200px;
  margin-right: 50px;
  font-family: 'Graduate', cursive;
  margin-bottom: 0px;
}

#logo {
  float: left;
  height: 150px;
  width: 150px;
}

#logo2 {
  float: right;
  height: 150px;
  width: 150px;
}

#footer {
  margin-top: 450px;
  float: bottom;
  height: 100px;
  width: 1000px;
}

#nav {
  clear: left;
  border: 2px black solid;
  float: right;
  width: 700px;
  margin-right: 300px;
  margin-left: 50px;
}

#content {
  width: 70%;
  float: left;
  padding-left: 20px;
}

table tbody tr td {
  border: 1px black solid;
  padding: 5 5;
}
